<mat-card class="example-card">
  <h2 class="mat-elevation-z1">MY PORTFOLIO</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hi!, I am</h3>
      <h1>Faye Marie <span>Oscobido</span></h1>
      <h4>Bachelor of Science in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/Faye.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>I am 21 years old and residing at Sagkahan, Carigara Leyte. I love to sing and write a stories. I am a registered author on the two famous platform, Libri and GoodNovel. I started writing in Wattpad, the most famous writing community. </p>
  </mat-card-content>
</mat-card>